*{
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #131313;
}

.navbar {
    width: max-content;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
}

.logo {
    display: flex;
    flex-direction: row;
    
}

.blogo {
    font-family: "Bricolage Grotesque";
    font-weight: 700;

    width: 4rem;
    color: #f1f1f1;

    margin-right: -2.8rem;
}

.ereallogo {
    font-family: "Bricolage Grotesque";
    font-weight: 700;
    font-style: italic;

    width: max-content;
    color: #f1f1f1;
}

.navmenu {
    display: flex;
    flex-direction: row;
}
.navmenu a {
    margin-left: 3rem;
    color: #f1f1f1;
    text-decoration: none;
    font-family: "Bricolage Grotesque";
    font-style: italic;
}

.loginregister {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.letsgetstarted {
    display: flex;
    font-family: "Bricolage Grotesque";
    justify-content: center;
    align-items: center;
}


.register {
    display: flex;
    width: 7rem;
    height: 3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    color: #1f1f1f;
    font-family: "Bricolage Grotesque";
    text-decoration: none;
    border: 0rem;
    border-radius: 20rem;
}
.login {
    display: flex;
    width: 7rem;
    height: 3rem;

    text-align: center;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    font-family: "Bricolage Grotesque";
    text-decoration: none;

    border-color: #f1f1f1;
    border: solid 3.5px;
    border-radius: 20rem;
}